
        <footer class="gloabl_footer">
            <p class="copyright">
                Copyright &copy; 2017 <%=common.site_title %> All rights reserved.
            </p>
        </footer>
    </div>
</body>
</html>